html, body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
header{
    background-color: rgba(36, 3, 3, 0.904);
    color: white;
    position: fixed;
    height: 12%;
    width: 100%;
    z-index: 10;
}
.justificado{
    text-align:justify;
}
#tmenu{
    padding:  1% 6% 2% 4%;
}
#menu{
    float: right;
    color: whitesmoke;
    list-style: none;
    padding:  1% 3% 2% 3%;
}
li{
    float: left;
}
li:hover{
    background-color:rgb(222, 223, 134);
}
.d1{ 
    background: url(imagens/ods12.png);
    background-size: cover;
    width: 100%;
    height: 26%;
    padding-top: 0%;
}
#video{
    margin-left: 10%;
}
.titulo{
    color:rgb(120, 131, 50);
    font-size: 160%;
    margin-top: 0%;
    padding: 10%;
    padding-bottom: 0%;
    padding-left: 0;
}
.logo2030{
    float: left;
    width: 100%;
    height: 55%;
    padding-top: 5%;
}
.onu{
    color: brown;
    font-size: 12px;
}
.d1{
    background-color: rgba(245, 245, 245, 0.925);
    padding-bottom: 5%;

}
.logoonu{
    width: 25%;
    height: 15%;
    margin-left: 75%;
    box-align: center;
}
#gif{
    text-align: center;
    padding-top: 20%;
}
#carrinho{
    box-align: center;
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 15% ;
    width:70%;
}
.d{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
    margin-top: 0%;
}
.t3{
    margin-right: 0%;
}
.t4{
    margin-left: 5%;
}
.contribuicao{
    background-color: rgb(255, 253, 235);
}
.lista{
    padding-left: 3%;
    padding-top: 0%;
    padding-bottom: 4%;
}
#atitudes{
    padding-bottom: 5%;
    margin-left: 0;
}
footer{
    background-color: rgb(255, 253, 235);
    float: right;
    text-align: center;
    padding-bottom: 5%;
    border-top: 2px solid brown;
}
@media all and (max-width:768px){
    #menu, #tmenu{
        visibility: hidden;
    }
    .cabecalho{
        visibility: hidden;
    }
    .ods12{
        width:100%;
        height: 10%;
    }
    .d{ 
    display: block;
    width:80%;
    padding: 0;
    margin: 10px auto;
    float:none;
    font: 5px;
    }
}
